/* ========================================== CSS FOR HTML ELEMENTS ====================================== */

body {
    background: url("media/pics/background_pic.jpg") center center fixed;
    background-size:cover;
}
header {
    height:100px;
    width:100%;
	background: url("media/pics/header_pic.png");
	background-size: 500px 100px;
	background-repeat: no-repeat;
	background-position:center;
	font-size:12px;
	text-align:right;
}
footer {
    text-align:center;
    font-style: italic;
    font-size:small;
    clear:both;
    color:#FFFF00;
}
th {
    font-size:larger;
    border:double;
    width:141px;
}
td {
    border:double;
}

/* ========================================== CSS FOR ALL PAGES ====================================== */

.wrapper {
    height:auto;
    width:99%;
    display:inline-block;
}
.numberinput {
    width:40px;
}
.centeredheader {
    text-align:center;
    font-weight:bold;
    font-size:30px;
    margin-top:20px;
}
.centeredparagraph {
    text-align:center;
}
.centeredtable {
	margin-left:auto;
	margin-right:auto;
}
.shopping_cart {
	float:right;
	height:60px;
	width:60px;
	margin-right:15px;
	background: url("media/pics/shopping_cart.png");
	background-size:90%;
	color:yellow;
	margin-top:40px;
	font-size:large;
	font-weight:bold;
	text-align:center;
}

/* ========================================== CSS FOR NAVBAR ====================================== */

.navbar {
    width:100%;
    height:20px;
}
.navbar_element {
    font-weight: bold;
    float:left;
    width:24%;
    text-align: center;
    background-color:#006600;
    display:block;
    color:#ffff00;
}
.active_element {
    font-weight: bold;
    float:left;
    width:24%;
    text-align: center;
    background-color:#ffff00;
    display:block;
    color:#006600;
}
/* ========================================== CSS FOR HOMEPAGE ====================================== */

.pic_left {
    height:550px;
    width:70%;
    float:left;
    margin:0;
}
.pic_right {
    height:550px;
    width:70%;
    float:right;
}
.para_right {
    color:#FFFFFF;
    width:30%;
    float:right;
    background-color:rgba(0,0,0,0.6);
    margin:0;
}
.para_left {
    color:#FFFFFF;
    width:30%;
    float:left;
    background-color:rgba(0,0,0,0.6);
    margin:0;
    clear:left;
}
.h2_homepage_left {
    color:#FFFFFF;
    background-color: rgba(0,0,0,0.6);
    margin:0;
    text-align:center;
    width:30%;
    float:left;
    clear:left;
}
.h2_homepage_right {
    color:#FFFFFF;
    background-color: rgba(0,0,0,0.6);
    margin:0;
    text-align:center;
    width:30%;
    float:right;
}

/* ========================================== CSS FOR MENU ====================================== */

.menusubmit {
    margin-top:20px;
    float: right;
}
#menutable {
	width:50%;
    margin-left:25%;
    background-color:#5c743d;
    color:#000033;
	border:double;
}

#price_and_cart {
    width: 174px;
    padding: 20px 34px 0 0;
    float: right;
}

.category_header {
	border:none;
	font-size:30px;
}
.category_description {
	text-align: center;
	font-style:italic;
	border:none;
}

/* ========================================== CSS FOR DEALS ====================================== */

.dealwrapper {
    width:25%;
    margin-left:6%;
    float:left;
}
.dealimage {
    width:100%;
    height:300px;
}
.dealsubmit {
    margin-top:20px;
    clear:left;
    display:block;
    float:right;
    margin-right:7%;
}

/* ========================================== CSS FOR JOBS ====================================== */

.jobwrapper {
    margin-top:30px;
    margin-left:15%;
    width:70%;
    height:300px;
    background-color:rgba(0,0,0,0.6);
}
.jobimage {
    float:left;
    width:40%;
    height:100%;
    border-right:double;
}
.jobtext {
    float:left;
    width:40%;
    color:#FFFFFF;
    height:100%;
    border-right:double;
    border-color:#000000;
}
.jobapplication {
    width:19.5%;
    height:100%;
    float:left;
}
.jobsubmit {
    height:50px;
    width:100px;
    margin-top:57%;
    margin-left:25%;
}

/* ========================================== CSS FOR JOBAPPLICATION ====================================== */

.input_jobapplication {
    margin-top:10px;
}
.label_jobapplication {
    text-align: right;
    padding-right:30px;
    margin-top: 10px;
    width:100px;
    float:left;
}
.submit_jobapplication {
    margin:10px;
}
.application_wrapper {
    margin-left:25%;
    margin-right:25%;
    background-color:rgba(0,0,0,0.5);
    color:#FFFFFF;
}

/* ========================================== CSS FOR CART AND CATALOGUE ====================================== */
.cc_links {
    color:#FFFF00;
}

/* Image sources:
    background_picture : https://i0.wp.com/www.healthfitnessrevolution.com/wp-content/uploads/2017/02/iStock-609794900.jpg?fit=1254%2C836
    durian_pizza1.jpg : https://coconuts.co/wp-content/uploads/2018/11/45154492_410295856170787_729699099456045056_n-960x540.jpg
    durian_pizza2.jpg : https://media.therakyatpost.com/wp-content/uploads/2019/08/PHMY_Durian_Pizza_20190806.jpg
    durian_pizza3.jpg : https://kopifolks.com/wp-content/uploads/2017/07/pezzo2.jpg

    durian_dessert1.jpg : https://s3-ap-southeast-1.amazonaws.com/sphm-sww-site-production/2017/08/Heres-Where-To-Go-For-Delicious-Durian-Desserts-In-Singapore_14.jpg

    baker_job_application: https://pixabay.com/illustrations/pizza-maker-pizza-chef-pizzeria-3181892/
    delivery_job_application: https://www.needpix.com/photo/643892/delivery-guy-boy-man-delivery-courier-pizza-pizza-delivery-scooter-quick-delivery
	
	shopping_cart: http://pngimg.com/uploads/shopping_cart/shopping_cart_PNG38.png
 */