body {
    background-color: #F5F5DE;
    width:1000px;
    margin:50px;
}
/*==================== CONFIGURING DIV'S ======================*/
.header {
    background-color: #CDB591;
    width:1000px;
    height:100px;
}
.navbar {
    float: left;
    width: 150px;
    background-color: #DFD2B4;
    height: 100%;
}
.content {
    height:auto;
    width:auto;
    margin-left:150px;
    padding:20px;
}
.footer {
    background-color: #CDB591;
    font-size: small;
    font-style: italic;
    text-align: center;
    width: 1000px;
    height:70px;
    clear:both;
    border-bottom: black;
    border-width: thick;
}
#wrapper {
    width:auto;
    height: 300px;
}

/* SPECIFIC CONFIGS SUCH AS UL'S AND IMAGEFLOATS */

#floatleft {
    float:left;
    padding-right:40px;
}
h1 {
    font-style: bold;
    font-family: Arial, sans-serif;
    font-size:24px;
    padding-left:10px;
    margin-top:0px;
    color: #300402
}
nav ul{
    list-style: none;
}
ul.homepage {
    list-style-type:lower-greek;
}
nav a {
    text-decoration: none;
    color: #A0846A;
    font-weight: bold;
    text-align: center;
    font-size:large;
}

/*==================== TABLE CONFIG =====================*/

table {
    border:none;
    width:500px;
    border-spacing:1px;
    margin-left: 100px;
}
tr:first-of-type {
    background-color: #FF0000;
}
tr:nth-of-type(odd) {
    background-color: #CDB591;
}