body {
    background-color: #F5F5DE;
    width:1000px;
    margin:50px;
    box-shadow: 7px 7px 5px black;
}
/*==================== CONFIGURING DIV'S ======================*/
header {
    background-color: #CDB591;
    width:1000px;
    height:100px;
}
.wrapper {
    max-width:1000px;
    height:auto;
    position:relative;
}
.navbar {
    float: left;
    width: 150px;
    background-color: #DFD2B4;
    height: 100%;
    position: absolute;
}
.content {
    margin-left:150px;
    padding:20px;
}
footer {
    background-color: #CDB591;
    font-size: small;
    font-style: italic;
    text-align: center;
    width: 1000px;
    height:70px;
    clear:both;
    border-bottom: black;
    border-width: thick;
}

/* SPECIFIC CONFIGS SUCH AS UL'S AND IMAGEFLOATS */

#floatleft {
    float:left;
    padding-right:40px;
}
h1 {
    font-weight: bold;
    font-family: Arial, sans-serif;
    font-size:24px;
    padding-left:0;
    margin-top:0;
    color: #300402
}
nav ul{
    list-style: none;
}
ul.homepage {
    list-style-image: url(brownButton.png);
    padding-left: 355px;
}
/* Button jpg taken from http://www.rgbstock.com/bigphoto/mf6JSbW/Glossy+Ball+3 */
nav a {
    text-decoration: none;
    color: #A0846A;
    font-weight: bold;
    text-align: center;
    font-size:large;
}

/*==================== TABLE CONFIG =====================*/

table {
    border:none;
    width:500px;
    border-spacing:1px;
    margin-left: 100px;
}
tr:first-of-type {
    background-color: #FF0000;
}
tr:nth-of-type(odd) {
    background-color: #CDB591;
}

/*================= FORM CONFIG ========================*/

label {
    text-align: right;
    padding-right:10px;
    margin-top: 10px;
    width:100px;
    float:left;
}
input, textarea {
    margin-top:10px;
}